.all{
background-color: black;
height: 1360px;
width: auto;

}


#slider { 
    position: relative;
	text-align: center;
    top: 10px;
}
.text article {
	height: 30px;
	line-height: 30px;
	position: relative;
	display: flex;
	align-items: flex-end;
  }
  
  .text article h2 {
	font-size: 30px;
	margin-top: 0;
	color: #fff;
	display: inline-block;
	padding: 0 10px;
	text-shadow: 0 0 5px #000;
  }
 #active{
display: flex;
justify-content: flex-end;
gap: 10px;
padding-right: 80px;
}
.image{

border-radius: 20px;
}
#slider{ 
	margin: 0 auto;
    
}

#slides article{ 
	width: 20%;
	float: left;
    margin-top: 50px;
    
    

}

#slides .image{ 
	width: 500%;
	line-height: 0;
    
}

#overflow{ 
	width: 100%;
	overflow: hidden;
    
}

article img{ 
	width: 90%;
    border-radius: 20px;
}

#desktop:checked ~ #slider{ 
	max-width: 1360px; 
}



label, a{ 
	cursor: pointer;
}

.all input{ 
	display: none;
}


#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slides .image{
	margin-left: -300%;
}



#controls{ 
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label{ 
	border-radius: 10px; 
	display: inline-block; 
	width: 15px;
	height: 15px;
	background: #5555a3;
	border: 2px;
}

#active{ 
	margin: 23% 0 0;
	text-align: center;
}

#active label:hover{ 
	background: #ebebeb;
	border-color: #2a2a97 !important; 
}

#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
	background: #0d0d0e;
	border-color: #160d9b !important;
}

#slides .image{ 
	transition: all 1500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

@media(max-width: 1024px){
	#active{
		justify-content: center;
		}

}
@media(max-width: 768px){
	#active{
		margin-right: -80px;
		margin-top: 100px;
	}
}